cul.spec
/dist
/build
/c_cpp_modules
/c_cpp_modules_dld
/__pycache__
/Backend
/extras
module_info.json
/pytest_tutorial
*.txt
!requirements.txt
*.exe
*.c
.vscode/
.cul/
Backend/
registry2/
fastapi_backend/
*.bat